<div class="landmark-edit__container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <form [formGroup]="landmarkForm" (ngSubmit)="editHandler()">
        <div class="form-group">
          <label for="landmarkDescription" class="form-label">Description</label>
          <textarea id="landmarkDescription" class="form-control" formControlName="description" rows="3" maxlength ="5000"></textarea>
        </div>
        <!-- <div *ngIf="description?.touched && description?.errors?.['required']" class="alert alert-danger">Landmark description is required!</div> -->


        <div class="form-group">
          <label for="landmarkOpens" class="form-label">Opens</label>
          <input id="landmarkOpens" class="form-control" formControlName="opens">
        </div>

        <div class="form-group">
          <label for="landmarkCloses" class="form-label">Closes</label>
          <input id="landmarkCloses" class="form-control" formControlName="closes">
        </div>


        <div class="form-group">
          <label for="landmarkEmail" class="form-label">E-mail</label>
          <input id="landmarkEmail" type="text" class="form-control" formControlName="email" />
        </div>
        

        <div class="form-group">
          <label for="landmarkPhone" class="form-label">Phone</label>
          <input id="landmarkPhone" type="text" class="form-control" formControlName="phone" />
        </div>

        
        <div class="form-group">
          <label for="landmarkWebsite" class="form-label">Website</label>
          <input id="landmarkWebsite" type="text" class="form-control" formControlName="website" />
        </div>
        

        <div class="form-group">
          <label for="landmarkImageUrl" class="form-label">Image Url</label>
          <input id="landmarkImageUrl" type="text" class="form-control" formControlName="imageUrl" />
        </div>

        
        <div class="form-check">
          <input type="checkbox" id="flexCheckDefault" class="form-check-input" formControlName="isNationalLandmark">
          <label class="form-check-label" for="flexCheckDefault">
            Landmark is national
          </label>
        </div>


        <div class="form-check">
          <input type="checkbox" id="flexCheckDefault" class="form-check-input" formControlName="worksOnWeekends">
          <label class="form-check-label" for="flexCheckDefault">
            Landmark works on weekends
          </label>
        </div>
        <button class="btn btn-primary">Edit Landmark</button>
      </form>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>