<div class="text-center" *ngIf="status == 'INIT' || status == 'LOADING'">
  <div class="spinner-border text-success" role="status"></div>
</div>

<div *ngIf="status == 'SUCCESS'" class="landmark-edit__container">
  <h1>Edit Landmark "{{landmarkName}}"</h1>
  <form class="row" [formGroup]="landmarkForm" (ngSubmit)="editHandler()">
    <div class="col">
      <!-- Landmark Description -->
      <div class="form-group">
        <label for="landmarkDescription" class="form-label">Description</label>
        <textarea id="landmarkDescription" class="form-control" formControlName="description" rows="10" maxlength="5000"></textarea>
      </div>
      <!-- <div *ngIf="description?.touched && description?.errors?.['required']" class="alert alert-danger">Landmark description is required!</div> -->

      <!-- Landmark Opens -->
      <div class="form-group">
        <label for="landmarkOpens" class="form-label">Opens</label>
        <input id="landmarkOpens" class="form-control" formControlName="opens">
      </div>

      <!-- Landmark Closes -->
      <div class="form-group">
        <label for="landmarkCloses" class="form-label">Closes</label>
        <input id="landmarkCloses" class="form-control" formControlName="closes">
      </div>

      <!-- Landmark Email -->
      <div class="form-group">
        <label for="landmarkEmail" class="form-label">E-mail</label>
        <input id="landmarkEmail" type="text" class="form-control" formControlName="email" />
      </div>

      <!-- Landmark Phone -->
      <div class="form-group">
        <label for="landmarkPhone" class="form-label">Phone</label>
        <input id="landmarkPhone" type="text" class="form-control" formControlName="phone" />
      </div>

      <!-- Landmark Website -->
      <div class="form-group">
        <label for="landmarkWebsite" class="form-label">Website</label>
        <input id="landmarkWebsite" type="text" class="form-control" formControlName="website" />
      </div>

      <!-- Landmark Image Url -->
      <div class="form-group">
        <label for="landmarkImageUrl" class="form-label">Image Url</label>
        <input id="landmarkImageUrl" type="text" class="form-control" formControlName="imageUrl" />
      </div>

      <!-- Landmark is national? -->
      <div class="form-check">
        <input type="checkbox" id="flexCheckDefault" class="form-check-input" formControlName="isNationalLandmark">
        <label class="form-check-label" for="flexCheckDefault">
          Landmark is national?
        </label>
      </div>

      <!-- Landmark Woorks On Weekends? -->
      <div class="form-check">
        <input type="checkbox" id="worksOnWeekends" class="form-check-input" formControlName="worksOnWeekends">
        <label class="form-check-label" for="worksOnWeekends">
          Works on weekends?
        </label>
      </div>

    </div>

    <!-- Landmark Button Edit -->
    <div class="form-group">
      <button type="submit" [disabled]="landmarkForm.invalid" class="btn edit-button">Edit Landmark</button>
    </div>
  </form>
</div>